td {
  border: 1px solid black;
  width: 80px;
  height: 50px;
  text-align: center;
}
tr > td:first-of-type {
  width: 30px;
}
thead > tr > td {
  color: blue;
  height: 30px;
}
p {
  text-decoration: underline;
  color: grey;
  font-weight: bold;
}
label {
  color: blue;
  border: 1px solid black;
  display: inline-block;
  width: 100px;
  padding: 10px;
  text-align: center;
  margin: 2px;
}
span {
  border: 1px solid black;
  padding: 10px;
}
input[type="submit"] {
  border-radius: 5px;
  color: blue;
}
#mainForm {
  width: 200px;
}
.container {
  display: flex;
}
input[type="submit"]:first-of-type {
  margin: 10px;
}
